// Place all the styles related to the activites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.cartouche {
  
  width : 100%;
  border : solid black 1px;
  border-collapse: collapse;
  border : solid black 1px;
  
  th {
    border : solid black 1px;
  }
  td {
    text-align : center;
    border : solid black 1px;
  }
  
  td.quote {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , yellow); /* Standard syntax */
  }
}

q {
  quotes: "“" "”" "‘" "’";

  

}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

p.enoncé {
  text-align : justify;

}
